@CHARSET "UTF-8";

body 
{
	margin: 0px; 
	padding: 0px; 
	border: 0px;
	background: #fff;
}

#container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222222;
	
	min-height: 200px;
	height: auto !important;
	height: 200px;
}

#header
{
	height: 135px;
	background: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #c40f11;
	/* border-bottom:2px #222 solid; */
	cursor: pointer;
	font-size: 26px;
	color: #fff;
}

#menuBar
{
	background: url("../images/belka_gora.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 7px 10px 0px 10px;
	color: #222;
	vertical-align: middle;
	min-height: 27px;
	height: auto !important;
	height: 27px;
	font-size: 12px;
}

#menuBar a
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

#menuBar a:hover
{
	color: #222;
	text-decoration: underline;
}

#dropdown
{
	margin: 0;
	padding: 0;
}

#dropdown li
{
	list-style: none;
	float: left;
	display: block;
}

#dropdown li a
{
	display: block;
}

#dropdown li div
{
	display: none;
	position: absolute;
	margin-top: 5px;
	box-shadow: 1px 1px 3px #000;
	background: rgb(255,255,255);
	z-index: 999;
}

#dropdown li div a
{
	padding-top: 7px;
	padding-bottom: 7px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0,0,0);
	margin-top: -1px;
	padding-left: 14px;
	padding-right: 24px;
	transition: all 0.1s;
}

#dropdown li div a:hover
{
	background: #cccccc;
	text-decoration: none;
	transition: all 0.2s;
}

#contNoMenu{
	/*min-height: 300px;
	height: auto !important;*/
	height: 300px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

#footer{
	background:url("../images/belka_dol.png");
	min-height: 33px;
	height: auto !important;
	height: 10px;
	padding: 0px 9px 0px 9px;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align: center;
	line-height: 33px;
}

.login_form
{
	margin-left: auto;
	margin-right: auto;
}